[Unit]
Description=Fan Speed Control Service

[Service]
ExecStart=/home/dev/env/bin/python3 /home/dev/arcbeam/services/fan.py
WorkingDirectory=/home/dev/arcbeam
Restart=always
User=root

[Install]
WantedBy=multi-user.target