[Unit]
Description=Button Monitor
After=network.target

[Service]
ExecStart=/home/dev/env/bin/python /home/dev/cymatic-rec/btn_test.py
WorkingDirectory=/home/dev/cymatic-rec/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=dev

[Install]
WantedBy=multi-user.target
